* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
*::selection {
  color: #0081fe;
  background-color: #fff;
}

html{
  background-color: var(--s-main);
  scroll-behavior: smooth;
}
:root {
  --main: #0081fe;
  --s-main: rgb(197, 216, 255);
  --text: #1f2937;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #0081fe;
}

.nvbar {
  background-color: var(--main);
  z-index: 0;
  box-shadow: 0px 325px 430px -415px #111;   
}

.listitem {
  background-color: var(--main);
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.listitem li a:hover{
  background-color: var(--main);
  color: #fff;
}
/* 
#name{
    width: 20%;
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navsec{
    width: 60%;
    height: 100%;
}

#navsec ul{
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navsec ul li{
    font-size: 15px;
    font-weight: 500;
}

#navsec ul li:hover{
    color: var(--s-main);
    cursor: pointer;
    text-decoration: var(--text) wave underline;
    transition: all 0.2s ease-in;
    transform: scale(1.05) rotate(-1deg);
}

#user{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
} */

.container1 {
  height: 90vh;
  width: 100%;
  background-color: var(--s-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

.container1 .headline {
  height: 30%;
  width: 100%;
  display: flex;
  font-weight: 600;
  z-index: 0;
  font-size: 80px;
  justify-content: center;
  align-items: flex-end;
}

.headline span {
  padding-left: 25px;
  color: var(--main);
}
.hammenu{
  z-index: 1;
}

.container1 p {
  height: 20%;
  width: 100%;
  color: #333;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container1 .search {
  margin: 0 auto;
  height: 20%;
  width: 60%;
}

.container1 .crousel {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--s-main);
}

.slider-container {
  background-color: var(--s-main);
  display: flex;
  width: 80%;
  -webkit-mask: linear-gradient(90deg, #0000, #ffffff 5% 95%, #0000);
  overflow: hidden;
  height: 90%;
  /* border: 2px dotted black; */
}

.slider::before {
  box-shadow: 50px 0 50px #000000 inset;
  left: 0;
}

.slider::after {
  box-shadow: -50px 0 50px rgb(0, 0, 0) inset;
  right: 0;
}

.slider {
  display: flex;
  animation: slide 18s infinite linear;
  display: flex;
}

.slider-item {
  flex: 0 0 15%;
  box-sizing: border-box;
  height: 100%;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.slider-item img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.slider-item img:hover {
  scale: 1.2;
  transition: 0.6s;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (min-width: 340px) and (max-width: 1024px) {
  nav {
    width: 100%;
    height: 10vh;
  }
  .listitem {
    background-color: var(--main);
    color: var(--text);
  }
  .container1 .headline{
    font-size: 30px;
    height: 20%;
  }
  .headline span{
    padding-left: 10px;
  }
  .container1 p{
    font-size: medium;
  }
  .container1 .search{
    width: 85%;
  }
  .container1 .crousel{
    width: 100%;
    height: 25%;
    background-color: var(--s-main);
    margin-top: 12vh;
  }
  .slider-container{
    width: 100%;
    background-color: var(--s-main);
  }
  .slider-item {
    flex: 0 0 12%;
    box-sizing: border-box;
    height: 100%;
    width: 85px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider-item img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
  }

}
